// 页头
header {
    position: relative;
    width: 960px;
    min-height:100%;
    .container-fixed();

    .header-c {
        position: fixed;
        width: 960px;
        height: 100%;
        top: 0;
        margin-left: 760px;
        padding-left: 18px;
        background: url(../images/header-title2.png) no-repeat 0 0;
        .logo {
            height: 400px;
            display: block;
            text-indent: -9999px;
            cursor: pointer;

            .mine{
                float: left;
                width:104px;
                height:104px;
                margin: 31px 0 0 11px;
                .border-radius(52px)
            }
        }
    }
}

// 边界
.divider-top, .divider-bottom {
    width: 100%;
    height: 1px;
    font-size: 1px;
    overflow: hidden;
}
.divider-top {
    background: url('../images/divider.png') repeat-x 0 -1px;
}
.divider-bottom {
    background: url('../images/divider.png') repeat-x 0 0;
}

// 文章
article {
    img{
        display: block;
        max-width: 100%;
    }
    .container{
        padding-top: @paddingWidth *2;
    }
    .hero{
        margin-bottom: @marginWidth;

        a{
            display: block;
            padding: @paddingWidth;
        }
    }
    .thumbnails {
        float: left;
        width: 364px;
        margin-bottom: @marginWidth;
        .container-fixed();

        .thumbnail {
            float: left;
            display: inline;
            width: 162px;
            overflow: hidden;
            margin-bottom: @marginWidth*(5/4);
            margin-right: @marginWidth*(5/4);

            a{
                display: block;
                padding: @paddingWidth/2;
            }
        }
        .col2 {
            width:358px;
        }
        .col3 {
            width:544px;
        }
    }
    &.full .thumbnails {
        width: 100%;
    }
    section{
        float: left;
        width: 364px;

        header{
            width: auto;
            overflow: hidden;
        }
        .post {
            margin-top: -5px;
            padding-top: 12px;
            background: url('../images/divider-dashed.png') repeat-x 0 0;
        }
        footer{
            float: left;
            width: 100%;
            margin-bottom: 15px;
            padding-top: 12px;
            background: url('../images/divider-dashed.png') repeat-x 0 0;

            time{
                float: left;
                display: inline;
                margin-right: 10px;
                padding: 2px 0 2px 22px;
                background: url('../images/icon-time.png') no-repeat 0 2px;
            }
            .comments-link {
                float: left;
                display: inline;
                padding: 2px 0 2px 22px;
                background: url('../images/icon-comments.png') no-repeat 0 2px;
            }
        }
    }
    &.full section {
        width: 100%;
    }
}

// 多彩颜色
#articleBg > .createBg("articleColor1");
#articleBg > .createBg("articleColor2");
#articleBg > .createBg("articleColor3");
#articleBg > .createBg("articleColor4");
#articleBg > .createBg("articleColor5");
#articleBg > .createBg("articleColor6");
#articleBg > .createBg("articleColor7");
#articleBg > .createBg("articleColor8");
#articleBg > .createBg("articleColor9");
#articleBg > .createBg("articleColor10");

// 页尾
footer{
    background: #F0ECE7;
    .span23{
        .container();
    }
    .inner{
        padding: @paddingWidth*3 0;
        .clearfix();

        .logo-footer{
            float: left;
            display: inline;
            font: 36px/1em Nevis, Arial, Helvetica, Geneva, sans-serif;
            text-transform: uppercase;
            a {
                float: left;
                display: block;
            }
            strong {
                float: left;
                display: inline;
            }
            span {
                float: left;
                display: inline;
                margin: 0 7px;
                font-size: 24px;
            }
        }
        nav {
            float: right;
            display: inline;
            width: 320px;
            font: 1.3em/1.4em Inconsolata, Arial, Helvetica, Geneva, sans-serif;
            text-align: right;

            ul li {
                display: inline;
                margin: 0;
                padding: 0 7px 0 0;
                border-right: 1px solid #86827d;

                &:last-child {
                    margin: 0;
                    padding: 0;
                    border-right: 0;
                }
            }
        }
    }
}





